@import '../styles/core.pcss';

#root,
.marvellous {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: var(--colour-black);
    overflow: auto;
}

.loading {
    position: absolute;
    height: 3px;
    background-color: var(--colour-red);
    display: block;
    top: 0;
    left: 0;
}

