@import '../../../styles/variables.pcss';

.comic__back-button {
  color: var(--colour-white);
  display: flex;
  margin-left: auto;
  align-self: flex-end;
  padding-bottom: 35px;
  padding-right: 20px;

  &__arrow {
    display: inline-block;
    font-style: normal;
    position: relative;
    border-right: 9px solid;
    border-bottom: 9px solid;
    height: 40px;
    width: 40px;
    transform: rotate(135deg);
  }
}
